{{ ansible_managed | comment }}

[Unit]
Description=Prometheus squid Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/squid-exporter -squid-hostname "{{ squid_exporter_squid_host }}" -squid-port {{ squid_exporter_squid_port }} -listen ":{{ squid_exporter_listen_port }}" 
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=squid_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
